{% extends 'admin_base.html' %} <!--instead of including the page we exttended bcz if we include we can oly load the pg but if we extend we can see the changes or content edited in the pg is visible-->

{% block main %}

{% load static %}   <!--since i need to style the web psge i need to include the css so i loaded it to my html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        <title>change_password</title>
</head>
<body>

<div class="container mt-2">    <!--mt-2 is the commsnd to alter the margine size-->
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Employee Details</h4>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-hover" id="example">
                        <thead class="text-light bg-danger">
                            <tr>
                                <th>S.No</th>
                                <th>Emp_code</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email ID</th>
                                <th>Contact.No</th>
                                <th>Joining Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in employee %}  <!--here we are using for loop to fetch employee from the employee atribute in views -->

                            <tr>
                                <td>{{ forloop.counter }}</td>     <!-- for each time a loop repeats the counter add one--> 
                                <td>{{ i.empcode }}</td>     
                                <td>{{ i.user.first_name }}</td>     
                                <td>{{ i.user.last_name }}</td>              
                                <td>{{ i.user.username }}</td>     
                                <td>{{ i.contact }}</td>     
                                <td>{{ i.joiningdate  }}</td>     
                                    
                                </td>     
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<!--now we are going to give an alert msg to the user that whether thr msg is stored are not-->

{% if error == "no" %}  <!--this the way to declare a python code inside the html.... the error variable is rendered when we call this page -->
<script>
    alert("Password updated successfully");
    window.location = ('{% url "admin_login" %}');  /* after successfull registration we are goin to redirect to login page using this javascript command*/
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("something went wrong.Try again...")
</script>
{% endif %}


{% if error == "not" %}
<script>
    alert("Your Current Password Is Wrong...")
</script>
{% endif %}
<!-- now we are going to write js function to check whether the current password and the login password are same-->



{% endblock %}

