{% extends 'emp_base.html' %} <!--instead of including the page we exttended bcz if we include we can oly load the pg but if we extend we can see the changes or content edited in the pg is visible-->

{% block main %}
<div class="row text-center"> <!--if i assaign a text-ceter to the class row then every text inside the row is assaigned center-->
    <div class="col-sm-12">
        <div class="card shadow">
            <h3>Welcome To Your Dashboard</h3>
            <div class="card-body">
                <h5> Hello! {{request.user.first_name}} {{request.user.last_name}}      </h5> <!--its the way to request from database-->
            </div>
        </div>
    </div>
</div>
{% endblock %}