{% extends 'emp_base.html' %} <!--instead of including the page we exttended bcz if we include we can oly load the pg but if we extend we can see the changes or content edited in the pg is visible-->

{% block main %}

{% load static %}   <!--since i need to style the web psge i need to include the css so i loaded it to my html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        <title>Registration Page</title>
</head>
<body>

<div class="container mt-2">    <!--mt-2 is the commsnd to alter the margine size-->
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Profile</h4>
                </div>
                <div class="card-body">
                    <form method="post"name="signup" onsubmit="return checkpassword()">  <!--this post method is to send the completed registration form to the data base .... and on submitting the form it should check whether the passwords are same so it has to call a javascript fuction to check the match.....if the submit is true then only the form id submitted-->
                        {% csrf_token %}  <!-- csrf_token is used for security purpose like encoding its inbuilt django protection -->
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >firstname</label>
                                    <input type="text" class="form-control" name="firstname" placeholder="Enter your firstname" pattern="[A-Za-z]+" value="{{employee.user.first_name}}" ><!--here if we need to pass any value from db the we need to include the value atribute and then pass the values-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >lastname</label>
                                    <input type="text" class="form-control" name="lastname" placeholder="Enter your lastname" pattern="[A-Za-z]+" value="{{employee.user.last_name}}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label >Employee code</label>
                                    <input type="text" class="form-control" name="empcode" placeholder="Enter your code" pattern="[0-9]+" value="{{employee.empcode}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Employee Department</label>
                                    <input type="text" class="form-control" name="department" placeholder="Enter your department" value="{{employee.empdept}}" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Employee Designation</label>
                                    <input type="text" class="form-control" name="designation" placeholder="Enter your designation" value="{{employee.designation}}">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Email</label>
                                    <input type="email" class="form-control" name="emailid" placeholder="Enter your email" value="{{employee.user.username}}"> <!--the required atribute makes the form to fill each boxes mandatory-->
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Contact</label>
                                    <input type="text" class="form-control" name="contact" placeholder="Enter your contact number" value="{{employee.contact}}"> <!--the required atribute makes the form to fill each boxes mandatory-->
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Joining Date [{{employee.joiningdate}}]</label> <!--its a special type sice the joining date is not listed in sign up the db automatically store it so diaplay that we use this -->
                                    <input type="date" class="form-control" name="jdate" > <!--the required atribute makes the form to fill each boxes mandatory-->
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Gender [{{employee.gender}}]</label> 
                                    <select name="gender" class="form-control">
                                        <option value="None">Select Gender [{{employee.gender}}]</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="other">other</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<!--now we are going to give an alert msg to the user that whether thr msg is stored are not-->

{% if error == "no" %}  <!--this the way to declare a python code inside the html.... the error variable is rendered when we call this page -->
<script>
    alert("Profile updated successfully");
    window.location = ('{% url "profile" %}');  /* after successfull registration we are goin to redirect to login page using this javascript command*/
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("something went wrong.Try again...")
</script>
{% endif %}

{% endblock %}